
<h1>All Movies</h1>
<% if flash[:alert] %>
    <%= flash[:alert]%>
<% end %>

<% @movies.each do |movie| %>
    <ul>
        <li><%= link_to movie.title, movie_path(movie) %></li>
    </ul>
<% end %>

<%= link_to "Movie Database", new_movie_path %>