
<h1>All Movies</h1>
<% if flash[:alert] %>
    <%= flash[:alert]%>
<% end %>

<% @movies.each do |movie| %>
    <div class ="text_color">
        <ul>
            <li><%= link_to movie.title, movie_path(movie), class: "text_color" %></li>
        </ul>
    </div>
<% end %>

